
body{
	font-family: 'Alegreya Sans', sans-serif;
}

.secondary-head{
	background: #f3f1e1;
}
.secondary-head .nav-item{
	color: #1a1f31;
}
.secondary-head .nav-link:active{
	text-decoration: underline;
}
.secondary-head button,input{
	background: #f3f1e1;
	color: #1a1f31;
}
.secondary-head input{
	background: #f3f1e1;
	color: #1a1f31;
	padding: 0 2px;
}

.navbar-brand{
	color:#5675A0;
}
.primary-head{
	background: #1a1f31;
	color: white;
	height: 25px;
	font-size: 12px;
}

/*Jumbotron related styles*/

.jumbotron{
	background: white;
	background-image: url("assets/img/flower_bouquet3.jpg");
	background-repeat: no-repeat;
	background-position: center right;
}

.hero-msg{
	background: white;
	width: 50%;
	opacity: 0.8;
	text-align: center;
	border-radius: 2px;
}
.hero-msg h1{
	font-size: 3rem;
}
.footnote{
	font-style: italic;
}
.btn-primary{
	color:#1a1f31;
	background-color: #fff;
	border-color: #1a1f31;
}
.btn-primary:hover{
 color:#fff;
 background-color: #1a1f31;
 border-color: #1a1f31;
}

.hero-msg p{
	text-align: center;
}

/*card related styles*/

.sub-heading{
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2rem;
}

.card{
	border: none;
	border-radius: 2px;
	height: 300px;
	width: 180px;
	margin-bottom: 20px;
}

.card img{
	height: 220px;
	width: 180px;
	margin: 0 auto;
}

.card-footer{
	color:#5675A0;
	background: #f3f1e1;
	text-align:center;
	margin: 0 auto;
	width:180px;
}

.card-footer h4,h6,p{
	margin-bottom: 0.2rem;
    font-size: 0.8rem;
}
.card-title{
	text-transform: uppercase;
}

.diy-section{
	background-image: url("assets/img/floralbouquet2.jpg");
}

.step{
	background: rgba(26,31,49,0.7);
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
    color:#fff;
    text-align:center;
    text-overflow: wrap;
    line-height: 15rem;
    margin:2rem auto;
}

.step img{
	width:inherit;
	border-radius: 50%;
}

.site-footer{
	background: #1a1f31;
	color:#fff;
	text-align: center;
	padding: 2rem;
}

.site-footer h6{
   text-transform: uppercase;
   font-size: 1 rem;
}

.site-footer ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

.site-footer li a{
	color:#fff;
	text-decoration: none;
	font-weight: 300;
	font-size: 0.8rem;
}

.showcase-blog{
	width: 60%;
	padding: 2rem;	
}

.square{
   background: #5675A0;
   padding: 2.5rem;
   text-align: center;
   color:#fff;
   opacity: 0.8;
   font-size:2rem;
}

.square p{
	padding: 2rem;
}

.square h6{
	font-size: 1.2rem;
	text-transform: uppercase;
	padding-top: 1rem;
}
